<h1><%= @poll.title %></h1>

<form action='/votes' method='post'>
  <div class='form-field'>
    <label>Pick the ones you would go to!</label>
    <ul>
      <% Location.order(:name).all.each do |location| %>
        <li>
          <label>
            <input type='checkbox' name="vote[locations][<%= location.id %>]">
            <%= location.name %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='form-field'>
    Or something that isn't listed? <span class='subtext'>(comma separated)</span>
    <input type='text' name="vote[new_locations]" />
  </div>
  <div class='form-field'>
    <label>Wass yo name?</label>
    <input type='text' name='vote[person_name]'>
  </div>
  <div class='form-field'>
    <input type='submit' value='Submit'>
  </div>
</form>


<% if @show_results %>
  <h2>Results</h2>
  <% if @vote_groups.present? %>
    <ol>
      <% @vote_groups.each do |location, votes| %>
        <li>
          <%= location.name %>: <%= votes.count %>
          <br><span>(<%= votes.map(&:person_name).join(', ') %>)</span>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>No one voted yet :(</p>
  <% end %>

<% end %>
